.vscode/
env/
config/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore user sessions
sessions/

# Ignore logs (if generated during runtime)
logs/

# Ignore virtual environment (if created in the root directory)
venv/

# Ignore any other temporary or build-related files/directories
*.log
*.swp
*.swo
*.pyo
*.pyd
*.DS_Store
.env
*.db
*.sqlite3

# Ignore the bot's help file
/bot/Archive/
.pylintrc
data/
docs/_build/
